.bodyofinfo{
 display: flex;
 flex-direction: column;
 float: left;
 width:60% ;
}
@media (max-width: 500px) {
.bodyofinfo{
 width:97% ;
}
}
.android_group{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
}
.android-images{
 width: 200px;
 height: 400px;
 margin: 10px;
}
.ptag{
 text-align: left;
 margin-left: 10px;
 font-size: larger;
 word-wrap: break-word;
}