.frame {
  background: #3d4c64;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  -webkit-box-shadow: -2px 3px 9px 7px lightgray;
  -moz-box-shadow: -2px 3px 9px 7px lightgray;
  box-shadow: -2px 3px 9px 7px lightgray;
}
.maps {
  height: 600px;
  width: 98%;
}

.button-style {
  position: relative;
}
.button-style .MuiSvgIcon-root {
  position: absolute;
  top: 13px;
  left: 70px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .frame {
    width: 400px;
    height: 400px;
  }
}

.landing {
  position: relative;
}

.getstarted {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  width: 300px;
}

.service_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 440px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: all 0.1s ease-in;
}

.service_logo {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(63, 61, 86, 0.5), -5px -5px 10px #ffffffdc;
  height: 75%;
}

.service_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 15px;
  padding: 50px;
  height: auto;
}
img {
  width: 100%;
  height: 100%;
}

@media (max-width: 400px) {
  .service_body {
    padding: 20px;
  }
  .service_content {
    display: flex;
    flex-direction: column;
    width: 97%;
  }

  .service_content_wise {
    display: flex;
    flex-direction: column-reverse;
  }
  .scroll-up-btn {
    position: fixed;
    height: 43px;
    width: 43px;
    border: 2px solid black;
    right: 30px;
    padding: 10px;
    bottom: 40px;
    border-radius: 20px;
    color: #fff;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .insights_content {
    display: flex;
    flex-direction: column;
  }
  .hideart {
    display: none;
  }
  .landing {
    width: 99% !important;
  }
}
.learn_more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insights {
  height: 540px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.insights_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 340px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: all 0.1s ease-in;
}
.buttonsStyle {
  box-shadow: 2px 2px 5px rgb(63, 61, 86, 0.5), -5px -5px 10px #ffffffdc !important;
  border-radius: 20px !important;
  font-size: medium;
}
