.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.form-group {
  width: 40%;
}
.form-row {
  display: flex;
}

input {
  margin-left: 40px;
  width: 50%;
}

.form {
  border: 2px solid silver;
  border-radius: 20px;
  padding: 20px;
  margin: 3px;
}

.group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form-element {
  margin-bottom: 20px;
}

.user_right{
  margin-top: 20px;
}

@media (max-width: 400px) {
  .emailid_user {
    display: none;
  }
}
