/* footer div {
  height: 500px;
  width: 100%;
}

i{
 font-size: larger;
 z-index: 999;
 height: 200px;
 width: 200px;
 color: black;
 background-color: brown;
} */

#addresscolumn{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}