.footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer_content{
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

li{
  font-size: larger;
}

/* a:hover{
  color: #3c0fd1;
  text-decoration: underline;
  cursor: pointer;
} */