.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.address {
  text-transform: capitalize;
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 70vw;
}
.width-full {
  width: 70%;
}

p {
  text-align: center;
  width: 100%;
}
meter[value] {
  height: 20px;
  color: aqua;
}

.heading {
  font-weight: bold;
  font-size: x-large;
}

.address_font,
.pincode_font {
  font-weight: 500;
}
.card_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main_content {
  float: left;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card_content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid silver;
  width: 290px;
  height: 200px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: all 0.1s ease-in;
}

.card_content:hover {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image_network {
  width: 85px;
  height: 85px;
  margin-right: 1vw;
  float: left;
}

.card_body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  margin-left: 10px;
  float: left;
}
.button-style_result {
  width: 40%;
}

@media (max-width: 400px) {
  .card_content:hover {
    transform: scale(1.01);
    box-shadow: none;
  }
}
