::-webkit-scrollbar {
  width: 10px;
  overflow-x: hidden !important;
}
::-webkit-scrollbar-thumb {
  background: #3F3D56;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}